<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>All Students</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Student Database </h1>
<nav>
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="allstudents">All students</a></li>
        <li><a href="studentform">Student From</a></li>
    </ul>

</nav>
<h2>All Students</h2>

<table>
    <tr>
        <th>Roll No</th>
        <th>Name</th>
        <th>City</th>
    </tr>

    <tr th:each="s : ${students}">
        <td th:text="${s.rn}"></td>
        <td th:text="${s.name}"></td>
        <td th:text="${s.city}"></td>
    </tr>

</table>

</body>
</html>

